.maindiv{
  margin-left: auto;
  margin-right: auto;  
  width: 440px;
  height: 590px;
  border: 1px;
  border-style: solid;
}

.text-center{
  text-align: center;
}

.header{
	margin-left: auto;
	margin-right: auto;
	border: 1px;
	border-style: solid;
	height: 150px;
	background-color: slategrey;
}

.gametable{
	margin-left: auto;
  margin-right: auto;  
	height: 440px;
	position: relative;
}

h2{
	text-align: center;
	margin-top: 15px;
}

#myCanvas{
	position: relative;
  border:1px solid grey;
}